* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #3B4262;
  color: white;  
}

.x{
 margin-top: 10px;
margin-left: 325px;
width: 10px;
}
.containerSimple{
  display: flex;
  justify-content: center;
 margin-bottom: 50px;
 margin-top: 50px;
}

.image-rules-simple{
  width: 200px;
  margin-bottom: 10px;
}
.containerAdvanced{
  display: flex;
  justify-content: center;
}
.image-rules-advanced{
  width: 200px;
  margin-bottom: 10px;
}
.category{
  margin: 0;
}
.counterBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 72px;
  background-color:#FFFFFF ;
  border-radius: 4px;
}
.counter{
  color:#3B4262 ;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}
.score{
  color:#3B4262 ;
  font-weight: bold;
  font-size: 10px;
  margin: 0;
  
}
.imageTitleSimple{
  width: 83px;
  height: 60px;
}
.header-mobile{
  display: flex;
justify-content: space-between;
align-items: center;
padding: 23px;
margin-top: 23px;
margin-left: 32px;
margin-bottom: 100px;
  width: 311px;
  height: 96px;
  border: solid white 0.5px;  
}
.playIconos{
  display: flex;
  justify-content: center;
  
}
.sizeIcono{
  width: 38px;
  height: 46px;
}
.triangle{
  position: relative;
  width: 166px;
  
}
.paper{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-color: white; 
top: 180px;
left: 62px;
border: solid #4664F4 10px;
box-shadow: #2A45C2 0 5px , inset #97979750 0 4px;
cursor: pointer;
}
.scissors{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-color: white; 
top: 180px;
right: 72px;
border: solid #EB9F0E 10px;
box-shadow: #C76C1B 0 5px , inset #97979750 0 4px; 
cursor: pointer;
}
.rock{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-color: white; 
top: 290px;
left: 140px;
border: solid #DB2E4D 10px;
box-shadow: #9D1634 0 5px , inset #97979750 0 4px; 
cursor: pointer;
}
.modalRules{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
  scale: 0;
  transition: scale 0.3s;
}
.modalRules-show{
  scale: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttonRules{
  position: absolute;
  bottom: 56px;
  left: 120px;
  background-color: transparent;
  border: solid white 1px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  width: 128px;
  height: 40px;
}